div {
  color: white;
}

.modal {
  border: 3px solid #EF8502;
  padding: 30px;
  z-index: 1;
  background-color: black;
}

.modal__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__header {
  display: flex;
}

.modal__close {
  align-self: flex-start;
  width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
}

.modal__title-text {
  color: #FF0000;
  margin-top: 20px;
}

.modal__descr {
  color: white;
  text-align: center;
}

.modal__message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__close-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #EF8502;
}

.modal__close-line:nth-child(1) {
  transform: rotate(45deg);
}

.modal__close-line:nth-child(2) {
  transform: rotate(-45deg);
}
