.hero {
  border-bottom: 1px solid #EF8502;
}

.hero__container {
  margin: 50px 0;
}

.hero__title {
  color: #EF8502;
  font-size: 34px;
  font-weight: 700;
}

.hero__descr {
  margin-top: 20px;
  width: 45vw;
}

.hero__descr,
.hero__item {
  color: white;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
}

.hero__list {
  padding-left: 40px;
}

@media(max-width: 1800px) {
  .hero__descr,
  .hero__item {
    font-size: 20px;
    line-height: 20px;
  }

  .hero__descr {
    margin-top: 20px;
  }

  .hero__title {
    font-size: 30px;
  }
}
