<div class="modal" [@modalAnimation]="animateStatus">
  <div class="modal__content">
    <div class="modal__header">
      <div class="modal__message">
        <div class="modal__title">
          <svg width="120" height="100" viewBox="0 0 221 206" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M110.731 203.217C170.101 203.217 218.231 158.446 218.231 103.217C218.231 47.9887 170.101 3.21716 110.731 3.21716C51.3602 3.21716 3.23077 47.9887 3.23077 103.217C3.23077 158.446 51.3602 203.217 110.731 203.217Z" stroke="#FF0000" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M161.19 56.2781L60.2713 150.156" stroke="#FF0000" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M161.19 150.156L60.2713 56.2781" stroke="#FF0000" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <h3 class="modal__title-text">
            {{data.errorTitle}}
          </h3>
        </div>
        <div class="modal__descr">
          {{data.errorText}}
        </div>
      </div>
      <button class="modal__close" (click)="closeModal()">
        <span class="modal__close-line"></span>
        <span class="modal__close-line"></span>
      </button>
    </div>

  </div>
</div>
<div class="modal__backdrop"></div>
